[Unit]
Description=Power Rules Daemon
After=graphical-session.target

[Service]
ExecStart=%h/.cargo/bin/power-rules-daemon
Restart=on-failure

[Install]
WantedBy=default.target
